//===========================
// Typography
//------------------------------------------------
//
//===========================
// Typography
$scale-1: 1; // 1.6
$scale-2: 18 / 16; // 1.125
$scale-3: 21 / 16; // 1.3125
$scale-3-5: 24 / 16; // 1.3125
$scale-4: 30 / 16; // 1.875
$scale-5: 36 / 16; // 2.25
$scale-6: 48 / 16; // 3
$scale-7: 64 / 16; // 3
$scale-8: 72 / 16; // 3
$font-size-base: 16 / 10;

html {
    font-size: 100%;
}

body {
    font-family: 'Source Sans Pro', "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: $scale-1 + rem;
    -webkit-font-smoothing: antialiased;
    font-family: $base-font-family;
    color: #333;
}

//  Headers
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
}

h1, h2 {
    line-height: 48px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3, h4 {
    line-height: 24px;
}

h3 {
    font-size: 18px;
}

// Bootstrap imported for base styles

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

// Font Families
$font-family-source-serif: "https://s3.amazonaws.com/bdcom/webfonts/aleo/";
$font-family-source-script: "https://s3.amazonaws.com/bdcom/webfonts/begining-yoga/";
$font-family-source-serif-light: #{$font-family-source-serif}#{"light/"};
$font-family-source-serif-bold: #{$font-family-source-serif}#{"begining-yoga/"};

@font-face {
    font-family: 'aleo';
    src: url("#{$font-family-source-serif-light}Aleo-Light-webfont.eot");
    src: url("#{$font-family-source-serif-light}Aleo-Light-webfont.eot?#iefix") format("embedded-opentype"), url("#{$font-family-source-serif-light}Aleo-Light-webfont.woff") format("woff"), url("#{$font-family-source-serif-light}Aleo-Light-webfont.ttf") format("truetype"), url("#{$font-family-source-serif-light}Aleo-Light-webfont.svg#aleolight") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url("#{$font-family-source-serif-bold}Aleo-Bold-webfont.eot");
    src: url("#{$font-family-source-serif-bold}Aleo-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("#{$font-family-source-serif-bold}Aleo-Bold-webfont.woff") format("woff"), url("#{$font-family-source-serif-bold}Aleo-Bold-webfont.ttf") format("truetype"), url("#{$font-family-source-serif-bold}Aleo-Bold-webfont.svg#aleobold") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'beginning-yoga';
    src: url("#{$font-family-source-script}beginning_yoga-webfont.eot");
    src: url("#{$font-family-source-script}beginning_yoga-webfont.eot?#iefix") format("embedded-opentype"), url("#{$font-family-source-script}beginning_yoga-webfont.woff2") format("woff2"), url("#{$font-family-source-script}beginning_yoga-webfont.woff") format("woff"), url("#{$font-family-source-script}beginning_yoga-webfont.ttf") format("truetype"), url("#{$font-family-source-script}beginning_yoga-webfont.svg#beginning_yogaregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h6 {
    margin-top: 0;

    // Override Bootstrap
}

h1 {
    font-size: $scale-6 + rem;

    // 3rem
    line-height: (48 / 48) + em;

    // 1rem
    margin-bottom:( 24 / 48) + em;

    //.5rem
}

h2 {
    font-size: $scale-5 + rem;

    // 2.25rem
    line-height: (48 / 36) + em;

    // 1.333333333333333rem
    margin-bottom:( 24 / 36) + em;

    //.6666666666666667rem
}

h3 {
    font-size: $scale-4 + rem;

    // 1.5rem
    line-height: (24 / 24) + em;

    // 1rem
    margin-bottom:( 24 / 24) + em;

    // 1rem
    font-family: "aleo";
}

h4 {
    font-size: $scale-3 + rem;

    // 1.3125rem
    line-height: (24 / 21) + em;

    // 1.142857142857143rem
    margin-bottom:( 24 / 21) + em;

    //1.142857142857143rem
}

h5 {
    font-size: $scale-2 + rem;

    // 1.125rem
    font-weight: bold;
    line-height: (24 / 18) + em;

    // 1.333333333333333rem
    margin-bottom:( 24 / 16) + em;

    //1.333333333333333rem
}

h6 {
    font-weight: bold;
}

h6, p {
    font-size: $scale-1 + rem;

    // 1rem
    line-height: (24 / 16) + em;

    // 1.5rem
    margin-bottom:( 24 / 16) + em;

    // 1.5rem
}


// Helpers - Typogrpahy
.text-normal {
    font-weight: normal;
}

.text-light {
    font-weight: 300;
}

.font-display {
    font-family: "aleo";
    font-weight: 300;

    &.text-bold, b {
        font-weight: 700;
    }
}

.font-script {
    font-family: 'beginning-yoga';
}

// Helpers - Typography
.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-inset-third {
    margin-top: (24 / 72 * -1em) !important;
}

.v-align-middle {
    vertical-align: middle;
}

.text-scale-8 {
    font-size: $scale-8 + em;

    // 3rem
    line-height: 72 / 72 + em;

    // 1rem
    margin-bottom: 24 / 48 + em;

    //.5rem
}

.text-scale-6 {
    font-size: $scale-6 + em;

    // 3rem
    line-height: 48 / 48 + em;

    // 1rem
    margin-bottom: 24 / 48 + em;

    //.5rem
}

.text-scale-5 {
    font-size: $scale-5 + em;

    // 2.25rem
    line-height: 48 / 36 + em;

    // 1.333333333333333rem
    margin-bottom: 24 / 36 + em;

    //.6666666666666667rem
}

.text-scale-4 {
    font-size: $scale-4 + em;

    // 1.5rem
    line-height: 24 / 24 + em;

    // 1rem
    margin-bottom: 24 / 24 + em;

    // 1rem
}

.text-scale-3 {
    font-size: $scale-3 + em;

    // 1.3125rem
    line-height: 24 / 21 + em;

    // 1.142857142857143rem
    margin-bottom: 24 / 21 + em;

    //1.142857142857143rem
}

.text-scale-2 {
    font-size: $scale-2 + em;

    // 1.125rem
    line-height: 24 / 18 + em;

    // 1.333333333333333rem
    margin-bottom: 24 / 18 + em;

    //1.333333333333333rem
}

.text-scale-1 {
    font-size: $scale-1 + rem;

    // 1rem
    line-height: 24 / 16 + em;

    // 1.5rem
    margin-bottom: 24 / 16 + em;

    // 1.5rem
}

.text-color-primary {
    color: #ff5400 !important;
}

.center-contents-y {
    display: -webkit-box;

    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;

    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;

    /* TWEENER - IE 10 */
    display: -webkit-flex;

    /* NEW - Chrome */
    display: flex;

    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding-bottom: 24px;

    .center-y {
        margin-top: auto;
        margin-bottom: auto;
    }
}

// Media Queries

@media screen and (min-height: 24 * 30 * 1px) {
    // Helpers - Layout
    .center-contents-y {
        height: 24 * 30 * 1px - 48;
    }
}

@media screen and (min-height: 24 * 25 * 1px) {
    // Helpers - Layout
    .center-contents-y {
        height: 24 * 25 * 1px - 48;
    }
}

@media screen and (min-width: 768px) and (max-width: 979px) and (min-height: 24 * 20 * 1px) {
    // Helpers - Layout
    .center-contents-y {
        height: 24 * 20 * 1px - 48;
    }
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) and (max-height: 24 * 15 * 1px) {
    .text-scale-down-xs {
        font-size: 1 / $scale-2 + em;
    }

    // Helpers - Layout
    .center-contents-y {
        height: 24 * 15 * 1px - 48;
    }
}

/* Landscape phones and down */
@media screen and (max-width: 480px) and (max-height: 24 * 10 * 1px) {
    // Helpers - Layout
    /*    .center-contents-y {
          height: (24 * 15 * 1px) - 48;
          padding-bottom: 24px;
        }*/
}

@media screen and (max-width: 480px) {
    .text-scale-down-xs {
        font-size: 1 / $scale-3 + em;
    }
}

// Special Typography
.text-tall {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

//  Spacing

.indent-default {
    padding: 12px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}