$wine: #834680;
$cadillac-pink: #d01b58;
$friendship-red: #da4205;
$dreamsicle-orange: #ff8d04;
$skyline-blue: #028fc4;
$stoplight-green: #64dd17;

.bg-wine {
    background-color: #834680;
}

.bg-cadillac-pink {
    background-color: #d01b58;
}

.bg-friendship-red {
    background-color: #da4205;
}

.bg-dreamsicle-orange {
    background-color: #ff8d04;
}

.bg-skyline-blue {
    background-color: #028fc4;
}

.bg-stoplight-green {
    background-color: #64dd17;
}