//===========================
// Typography Variables
//------------------------------------------------
//
//===========================
//
// Fonts
$font-family-sans-serif: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$base-font-family: "Source Sans Pro",
$font-family-sans-serif;
$font-serif: "aleo",
Georgia,
serif;


$base-font-size: 12;
$body-font-size: 16;

// Typography
$scale-1: $body-font-size / $base-font-size; // 1.6
$scale-2: 18 / $base-font-size; // 1.125
$scale-3: 21 / $base-font-size; // 1.3125
$scale-3-5: 24 / $base-font-size; // 1.3125
$scale-4: 30 / $base-font-size; // 1.875
$scale-5: 36 / $base-font-size; // 2.25
$scale-6: 48 / $base-font-size; // 3
$scale-7: 64 / $base-font-size; // 3
$scale-8: 72 / $base-font-size; // 3
$font-size-base: $base-font-size/10;

$scale-down-2: $base-font-size / 18 ; // 1.125
$scale-down-3: $base-font-size / 21 ; // 1.3125
$scale-3-down-5: $base-font-size / 24 ; // 1.3125
$scale-down-4: $base-font-size / 30 ; // 1.875
$scale-down-5: $base-font-size / 36 ; // 2.25
$scale-down-6: $base-font-size / 48 ; // 3
$scale-down-7: $base-font-size / 64 ; // 3
$scale-down-8: $base-font-size / 72 ; // 3



// Colors
$red: #db1700;
$blue: #35a5d0;
$yellow: #ffb70b;
$purple: #7e4784;
$green: #b7d42b;