@media (pointer:coarse) {
    .scrollable,
    .scrollable-y,
    .scrollable-x {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.scrollable {
    overflow: auto;

    &-y {
        @extend .scrollable;
        overflow-x: hidden;
    }

    &-x {
        @extend .scrollable;
        overflow-y: hidden;
    }
}

.scrollbar {
    overflow: scroll;

    &-y {
        @extend .scrollbar;
        overflow-x: hidden;
    }

    &-x {
        @extend .scrollbar;
        padding-bottom: 16px;
        overflow-y: hidden;
    }
}

.scroll {

    &-y-off {
        overflow-y: hidden;
    }

    &-x-off {
        overflow-x: hidden;
    }
    &-off {
        overflow: hidden;
    }
}