// .thumbnail-group {
//     position: relative;
//     overflow: hidden;

//     > .thumbnail-group-caption {
//         display: none;
//         flex: none;
//     }

//     &:hover {
//         border-left: 12px solid $wine;
//         img {
//             -webkit-filter: blur(3px);
//         }

//         > .thumbnail-group-caption {
//             position: absolute;
//             bottom: 0;
//             right: 0;
//             width: 100%;
//             text-align: center;
//             height: 100%;
//             display: inline-flex;
//             align-content: center;
//             background: white;
//             justify-content: center;
//             flex-direction: column;
//         }
//     }
// }
.thumbnail-group {
    position: relative;
    overflow: hidden;
    background: #333;
    color: #fff;

    > .thumbnail-group-caption {
        display: none;
        flex: none;
    }

    &:hover {
        img {
            -webkit-filter: blur(3px);
        }

        > .thumbnail-group-caption {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: inline-flex;
            flex-direction: column;
            padding: 24px;
            background: rgba(darken($skyline-blue, 36%) , 0.6);
        }
    }
}