//===========================
// Typography Base
//------------------------------------------------
//
//===========================
$body-color: #333;

body {
    font-family: $base-font-family;
    font-size: 100%;
    color: $body-color;
}