//===========================
// Typography Base
//------------------------------------------------
//
//===========================
$body-color: rgba(0, 0, 0, 0.9);

body {
    font-family: $base-font-family;
    font-size: 100%;
    color: $body-color;
}